@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #f3d6ad -78.47%,
    #f3c37f 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #f3b46f 0.89%,
    #f3c37f 17.23%,
    #f3b56e 42.04%,
    #f3a865 55.12%,
    #f28f6d 71.54%,
    #fc5958 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-dense {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #f28f6d 0.89%,
    #f28f6d 17.23%,
    #f28f6d 42.04%,
    #fc5958 55.12%,
    #fc5958 71.54%,
    #fc5958 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-red-gradient {
  background: linear-gradient(
    157.81deg,
    #f3b46f -43.27%,
    #f3c37f -21.24%,
    #f3b56e 12.19%,
    #f3a865 29.82%,
    #f28f6d 51.94%,
    #fc5958 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-red-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #f3b46f -278.56%,
    #f3a865 -78.47%,
    #f28f6d 91.61%
  );
}

.bg-clear-gradient {
  background: linear-gradient(
    -168.39deg,
    #f4f49e -278.56%,
    #fffb86 -78.47%,
    #e48f5ec5 91.61%
  );
  box-shadow: 4px 4px 15px rgb(186, 65, 65);
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #f28f6d 0%, #fc5958 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(293, 114, 119, 0) 0%, #f18c70 100%);
  filter: blur(80px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f3b56e 0%, #eee1c3 100%);
  filter: blur(200px);
}

.white__gradient {
  background: rgba(242, 152, 116, 0.6);
  filter: blur(500px);
}


.enroll {
  background: white;

}

.apply{
  color: #fc5958;
  display: block;
  text-align: center;
  margin: 70px 0px;
}

.inputs {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  margin: 25px 10px;
}

.submit{
  background-color: #fc5958
}

.faq-q {
  font: poppins;
  color: #fc5958;
  border: 1px solid gainsboro;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
}

.faq-q:hover {
  cursor: pointer;
  background-color: rgb(243, 233, 233);
  transition: 0.4s;
}

.faq-a {
  font: poppins;
  padding: 0;
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
}

.faq-active {
  font: poppins;
  color: rgb(86, 85, 85);
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  font-size: 18px;
  max-height: 500px;
  overflow: hidden;
  transition: all 1s ease;
}


#faq-container:last-child > div {
  border-bottom: 1px solid gainsboro;
}

#faq-container:first-child > h2 {
  border-top: 2px solid gainsboro;
}

